.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

tbody {
  vertical-align: middle;
  display: block;
  box-sizing: border-box;
}

tr {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #EEE;
}

td {
  display: block;
  vertical-align: inherit;
  text-align: left;
}

.trackname, .artistname {
  display: flex;
  width: 35%;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;    
  min-width: 0;
}

.trackname {
  margin-bottom: 20px;
  left: 20%;
  font-weight: 700;
}

.artistname {
  position: absolute;
  margin-top: 11px;
  left: 15%;
}

.trackrank {
  text-align: left;
  width: 8%;
}

.trackimage {
  width: 7%;
}

.scrobbles {
  left: 55%;
  position: absolute;
  width: 45%;
}

.amount {
  background-color: rgba(185, 0, 0, 0.1);
  padding: 1rem 0;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0;
  white-space: nowrap;
}

.scrobbles p {
  margin: 0;
  padding-left: 0.5rem;
  
}

p {
  margin: 0;
  padding-left: 0.5rem;
}